.navbar__list--items {
  display: inline-block;
  width: 90px;
  margin-right: 10px;
}

.navbar__list--items a{
  text-decoration: none;
}

.navbar__listright {
  display: inline;
  float: right;
}

.navbar__list--search {
  display: inline-block;
  margin-right: 100px;
}

.search__box{
  width: 275px;
}

.search__label {}

.header__bkg {
  height: 200px;
  width: 100%;
}

.userinfo__name,.userinfo__webpage,.userinfo__address {
  text-align: center;
  display: block;
}

.userinfo__about {
  display: block;
  height: 38px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.userinfo__statsbar--listitems {
  display: inline-block;
  width: 140px;
}

.userinfo__statsbar--list {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

/*body styles*/

/* PhotoSwipe div */
.photoswipe {
  border: 1px solid;
  width: 1100px;
  display: inline-block;
  vertical-align: top;
  margin-left: 0px;
  position: absolute;
  margin-bottom: 100px;
}

/*showcase styles*/

.showcase__newphoto {
  width: 350px;
  display: inline-block;
}

.showcase__photoswipe--initiator {
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*Section for changing Add File styles*/

.upload--hidden {
  display: none;
}

.upload__form {
  /*border: 1px solid;*/
  width: 50%;
  margin-left: 6px;
}

.upload__form--titlefield {
  width: 200px;
}

.upload__form--urlfield {
  width: 270px;
}

.upload__form--descriptionfield {
  width: 150%;
}

/*This section is the styling for slides*/

.slide {
  margin-top: 80px;
  height: 75%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.slide__photo {
  width: 75%;
  height: 100%;
}

/*comments styling*/
