<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Comments</title>
    <script src="../lib/chat.js"></script>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div class="slide__chat">
      <p class="slide__chat--text">Obsidian911: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua!</p>
      <p class="slide__chat--text">JLSlice: What a Save!</p>
      <div class="slide__chat--addcomment">
        <form class="addcomment__form" action="index.html" method="post">
          <input type="text" class="addcomment__form--field" name="addcomment" value="Write comment here...">
        </form>
      </div>
  </body>
</html>
